*{
  box-sizing: border-box;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

#userRegis{
display: flex;
justify-content: center;
flex-direction: column;
margin-left: 30px;
width: 500px;
}

#id{
  width: 400px;
  height: 40px;
}

#name{
  width: 400px;
  height: 40px;
}


#tel{
  width: 400px;
  height: 40px;
}

#plus{
  width: 50px;
  height: 30px;

}

input{
  margin-bottom: 10px;
}

#userCheck{
  display: flex;
  flex-direction: column;
}

#delete{
  width: 90px;
  height: 40px;
  margin: 5px;
}

table{
  display: flex;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}