*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container{
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.record{
  width: 350px;
  height: 90px;
  border-bottom: 2px solid rgb(227, 227, 227);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

#addBtn{
  width: 400px;
  height: 40px;

  border-radius: 10px;
  background-color: white;
  
  font-size: 20px;
  color: green;
  border: 2px solid green;
  
  font-weight: bold;

  margin: 10px;

  cursor: pointer;

}

#addBtn:hover{
  background-color: green;
  color: white;
}

#resetBtn{
  width: 400px;
  height: 40px;

  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  
  font-size: 20px;
  color: rgb(136, 136, 136);
  border: 2px solid rgb(136, 136, 136);
  font-weight: bold;

  cursor: pointer;
}

#resetBtn:hover{
  background-color: rgb(136, 136, 136);
  color: white;
}



td{
  width: 130px;
  height: 130px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;

  text-align: center;
  align-content: center;
}

td:hover{
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
}


.left{
  border-right: 2px solid rgb(227, 227, 227);
  justify-items: center;
}

.right{
  width: 300px;
  align-content: start;
  border-right: 2px solid rgb(227, 227, 227);
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h3{
  text-align: center;
}

.addContent{
  width: 200px;
  font-size: 20px;
}

.star{
  cursor: pointer;
  font-size: 20px;
}

.star:hover{
  font-weight: bold;
}


.xBtn{
  cursor: pointer;
  font-size: 20px;
  margin-left: 7px;
  margin-right: 7px;
}

.xBtn:hover{
  font-weight: bold;
}

.history{
  margin-bottom: 5px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

span{
  float: right;
}